<section class="hero has-commerce-background-image">
  <div class="hero-body px-7 py-4">
    <div class=" columns is-flex is-justify-content-start is-align-items-center is-align-content-space-between">
      <div class="column is-flex is-flex-grow-2">
        <div class="has-credit-card-back-icon has-text-white is-icon-5x mr-3"></div><h1 class="is-size-1 has-text-weight-medium" [ngClass]="titleColor">{{title}}</h1>
      </div>
      <div class="column is-flex is-flex-grow-1">
        <div class="is-flex"><span class="has-danger-circle-background has-text-white">10 </span><span class="px-1">Alerts</span></div>
        <div class="is-flex"><span class="has-success-circle-background has-text-white">15 </span><span class="px-1">Notifications</span></div>
      </div>
    </div>
  </div>
</section>


